@model Beamore.WEB.Models.ForgotPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Beamore - ForgotPassword</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Beamore</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h3>Beamore update password</h3>
        <p>Please enter the new password</p>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
        {
           
            <div class="form-group">
                <label for="pwd">New Password:</label>
                <input hidden type="text" name="GuidPassword" value="@Model.GuidPassword" />
                <input type="password" name="NewPassword" class="form-control" placeholder="New password" id="pwd">
                
            </div>
            <button type="submit" class="btn btn-success btn-block">Update</button>
        }
    </div>
</body>
</html>
